.clients {
    padding: 94px 0;
}

.clients .container {
    border-color: var(--main-color);
}

.clients-name {
    font-weight: 700;
    font-size: 36px;
    line-height: calc(42 / 36);
    text-align: center;
    color: var(--text-color);
    letter-spacing: 0.03em;
    margin-bottom: 50px;
}

.company-list {
    display: flex;
    gap: 30px;
    justify-content: space-between;
}

.company-title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 92px;
    color: #afb1b8;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: color, border;

    &:hover {
        color: #2196f3;
        border: 1px solid #2196f3;
        border-radius: 4px;
    }

    &:focus {
        color: #2196f3;
        border: 1px solid #2196f3;
        border-radius: 4px;
    }
}

.company-icon {
    fill: currentColor;
}