.nav-contacts {
    display: flex;
    align-items: center;
    margin-left: auto;
    list-style: none;
}

.header-contacts {
    display: flex;
    align-items: center;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: color;
    transition-duration: 250ms;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    color: var(--main-text-color);

    &:hover {
        color: #2196f3;
    }

    &:focus {
        color: #2196f3;
    }
}

.nav-contacts-list:not(:last-child) {
    margin-right: 50px;
}

.header-contacts .icon {
    margin-right: 10px;
    fill: currentColor;
}


.nav-contacts:focus .icon {
    fill: #2196f3;
}