.footer-subs {
    margin-left: 93px;
}

.subs-name {
    display: block;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--text-color-second);
    margin-bottom: 20px;
}

.footer-form {
    display: flex;
}

.mail-form {
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background: #2f303a;
    margin-right: 12px;
}

.mail-form input::placeholder {
    font-size: 16px;
    line-height: calc(16 / 20);
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

input {
    padding-left: 16px;
    color: rgba(255, 255, 255, 0.6);
}