.adress-list {
    list-style: none;
    width: 231px;
}

.adress-location {
    text-decoration: none;
    font-style: normal;
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: var(--text-color-second);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: color;

    &:hover {
        text-decoration: none;
        font-style: normal;
        font-size: 14px;
        line-height: calc(24 / 14);
        letter-spacing: 0.03em;
        color: #2196f3;
    }

    &:focus {
        text-decoration: none;
        font-style: normal;
        font-size: 14px;
        line-height: calc(24 / 14);
        letter-spacing: 0.03em;
        color: #2196f3;
    }
}

.adress-link {
    text-decoration: none;
    font-style: normal;
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: color;

    &:hover {
        text-decoration: none;
        font-style: normal;
        font-size: 14px;
        line-height: calc(24 / 14);
        letter-spacing: 0.03em;
        color: #2196f3;
    }

    &:focus {
        text-decoration: none;
        font-style: normal;
        font-size: 14px;
        line-height: calc(24 / 14);
        letter-spacing: 0.03em;
        color: #2196f3;
    }
}