footer .name {
    display: block;
    margin-bottom: 20px;
}

footer {
    padding: 60px 0;
    background-color: var(--secondary-color);
}

footer .container {
    display: flex;
    align-items: baseline;
    justify-content: center;
}

.footer-invite {
    margin-left: 70px;
}

.social-invite {
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
}

.footer-invite-list {
    margin-top: 20px;
    display: flex;
    gap: 10px;
}

footer .social-item {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

footer .social-link {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
}

footer .social-item .social-icon {
    fill: #ffffff;
}