header {
    background-color: var(--text-color-second);
    border: 1px solid #ececec;
}

header .container {
    display: flex;
    justify-content: center;
    align-items: center;
}

header .name {
    display: block;
    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 94px;
}