.solutions {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)), url(/images/background.jpg); 
    background-color: #2f303a66;
    background-size: cover;
    max-width: 1600px;
    height: 600px;
}

.solutions {
    display: flex;
    padding: 200px 0;
    text-align: center;
}

.name-solution {
    font-weight: 900;
    font-size: 44px;
    line-height: calc(60 / 44);
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--text-color-second);
    width: 696px;
    margin: 0 auto;
    margin-bottom: 40px;
}