$primary-font-family: "Roboto", sans-serif;
$secondary-font-family: "Raleway", sans-serif;

$primary-color: #757575;
$secondary-color: #212121;
$accent-color: #2196f3;
$bgc1: #f5f4fa;
$black: #000000;
$white: #ffffff;

$mobile: 480px;
$pre-tablet: 767px;
$tablet: 768px;
$pre-desktop: 1199px;
$desktop: 1200px;

$time-function: cubic-bezier(0.4, 0, 0.2, 1);
